# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Temporary environments
.venv/
env/
venv/

# OS specific
Thumbs.db
.DS_Store

# Archive files
*.zip

# Pytest cache
.pytest_cache/

# Environment & Credentials
.env
*.env
*.pem
*.key

